<div class="heading">
<h1>Create a new pick up</h1>
</div>

<div class="cards">
  <%= simple_form_for [@offer, @accepted_offer] do |f| %>
    <%= f.association :user_id %>
    <%= f.hidden_field :offer_id, value: @offer.id %>
    <%= f.submit 'Accept offer and commit to pick up', class: "back-button"%>
  <% end %>
<% end %>
</div>

<div class="back-button">
<%= link_to 'Back', root_path %>
</div>
