
<div class="heading">
  <h2>Ready for Pick Up!</h2>
<div class="in-line-header">
  <h1>Sign up to instantly claim FREE recyclables</h1>
  <%= link_to 'Sign up', new_user_registration_path, class:"btn-flat ml-3 mr-3" %>
  <h1>or</h1>
  <%= link_to "Create Offer", new_offer_path, class:"btn-offer-create ml-3" %>
</div>
  <h2>and help save the planet</h2>
</div>

<div class="search-home">
  <%= form_tag offers_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Search for recyclables"
    %>
    <%= submit_tag "Search", class: "btn-flat" %>
  <% end %>
</div>



<div class="cards">
  <%# @offers_near.each do |offer| %>
  <% @offers_near.each do |offer| %>
    <div class="card-product">
      <%  if offer.category.name == "Plastic" %>
        <% url = "jonathan-chng-OTDyDgPoJ_0-unsplash.jpg" %>
      <%elsif offer.category.name == "Glass" %>
        <% url = "lacey-williams-Jwh_k0K_QOM-unsplash.jpg" %>
      <%elsif offer.category.name == "Paper" %>
        <%  url = "michael-jin-ET6_fDwZj2U-unsplash.jpg" %>
      <% else %>
        <% url = "erol-ahmed-wKTF65TcReY-unsplash.jpg" %>
      <% end %>
      <%= image_tag url %>
      <div class="card-product-infos">
      <h1><%= link_to offer.volume , offer_path(offer) %></h1>
      <h2><%= offer.general_location %></h2>
      <h3>Pick up on: <%=offer.pick_up_on %></h3>
      <p><%= (offer.distance.round(2).to_s + " km away") if offer.distance >= 1 %></p>
      <p><%= ((offer.distance * 1000).round.to_s + " meters away") if offer.distance < 1 %></p>
     <!--  <p><%#= (offer.distance.round(2).to_s + "km away") if offer.distance >= 1 %></p>
      <p><%#= ((offer.distance.round(3) * 1000).to_s + "meters away") if offer.distance < 1 %></p> -->
      </div>
    </div>
  <% end %>
</div>





