<div class="heading">
<h1>Your filtered recyclables</h1>
</div>
<%= form_tag offers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Search for recyclables"
  %>
  <%= submit_tag "Search", class: "btn-flat" %>
<% end %>

<div class="cards">
  <% @offers_near.each do |offer| %>
    <div class="card-product">
      <%  if offer.category.name == "Plastic" %>
        <% url = "jonathan-chng-OTDyDgPoJ_0-unsplash.jpg" %>
      <%elsif offer.category.name == "Glass" %>
        <% url = "lacey-williams-Jwh_k0K_QOM-unsplash.jpg" %>
      <%elsif offer.category.name == "Paper" %>
        <%  url = "alfonso-navarro-qph7tJfcDys-unsplash.jpg" %>
      <% else %>
        <% url = "erol-ahmed-wKTF65TcReY-unsplash.jpg" %>
      <% end %>
      <%= image_tag url %>
      <div class="card-product-infos">
      <h1><%= link_to offer.volume , offer_path(offer) %></h1>
      <h2><%= offer.general_location %></h2>
      <h3>Pick up on: <%=offer.pick_up_on %></h3>
      <p><%= (offer.distance.round(2).to_s + "km away") if offer.distance >= 1 %></p>
      <p><%= ((offer.distance.round(3) * 1000).to_s + "meters away") if offer.distance < 1 %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="back-button">
  <%= link_to 'Back', :back %>
</div>
