<h1>Offers</h1>

<%= simple_form_for :search, url: root_path, method: "GET", html: { 
class: 'form-inline' }  do |f| %>
  <%= f.input :category, collection: ["Any", "Glass", "Paper", "Plastic"] %>
  <%= f.input :general_location, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>

<ul><% @offers.each do |offer|%></ul>
  <li><%= offer.category %></li>
  <li><%= link_to "see details", offer_path(offer) %></li>
<% end %>
