<h2><%=@offer.user.username%></h2>

<p><%= @offer.volume %></p>
<p><%= @offer.general_location %></p>

<td>
  <% if policy(@offer).update? %>
    <%= link_to 'Edit', edit_offer_path(@offer) %>
  <% end %>
</td>
<td>
  <% if policy(@offer).destroy? %>
    <%= link_to 'Destroy', @offer, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</td>