
<div class="heading">
<h1>Commit to Pick Up!</h1>
</div>
<div class="cards">
    <div class="card-show">
      <div class="card-show-infos">
        <h1><%= @offer.volume %></h1>
        <h2><%= @offer.general_location %></h2>
        <h2><%=@offer.user.username%></h2>
        <div>
          <% if !@accepted_offer && policy(@new_accepted_offer).create? %>
            <%= link_to "I'll take it!", offer_accepted_offers_path(@offer), class:"btn-flat mt-3", method: 'POST' %>
          <% end %>
          <% if @accepted_offer && policy(@accepted_offer).destroy? %>
            <%= link_to "Cancel pick up", accepted_offer_path(@offer), method: 'DELETE', data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>
        <td>
          <% if policy(@offer).update? %>
            <%= link_to 'Edit', edit_offer_path(@offer), class:"ml-1" %>
          <% end %>
        </td>
        <td>
          <% if policy(@offer).destroy? %>
            <%= link_to 'Destroy', @offer, class:"ml-5", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </div>
    </div>
</div>

<div class="back-button">
<%= link_to 'Back', root_path %>
</div>

<div class = "devise-link">
<%= simple_form_for :search, url: root_path, method: "GET", html: {
class: 'form-inline' }  do |f| %>
  <%= f.input :category, collection: ["Any", "Glass", "Paper", "Plastic"] %>
  <%= f.input :general_location, input_html: {value: ""} %>
  <%= f.submit "Search", class: "btn btn-success" %>

<% end %>
</div>

<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
